<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Polonium</title>
    <meta name="theme-color" content="#5d51d6">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="css/polonium.min.css" media="all">
  </head>
  <body id='app'>
   <div class="container">
      <header id="main-head">
         <label for="slide" title="Main menu" class="burger-menu">☰</label>
         <a href="/#!/">
            <h1 id="icon-brand" class="brand">Polonium</h1>
         </a>
         <label for="slide" title="" id="links">⋮</label>
      </header>
      <noscript id="fallback-message">To use Polonium, please enable JavaScript.</noscript>
      <main><form class="main-input"></form></main>
   </div>
  </body>
  <script type="text/javascript" defer="true">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('core/service-worker.js').then(() => {
        console.log('service worker loaded.')
      })
    } else {
      console.error('serviceWorker not supported.')
    }
  </script>
  <script src="build-index.min.js"></script>
</html>