
:root {

	--primary-colour:       #01aabc;
	--primary-colour-light: #0097A7;
	--primary-colour-dark:  #017582;



	--font-dark:            gray;

	--button-ready: #4caf50;
}

html {
	font-family:  'Roboto', sans-serif;
}




/*
	Navbar styling.
*/

.main-head {
	padding:    0px 12px;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	background: var(--primary-colour);
	color: white;
}


h1.brand {
	font-size: 1.3em;
	font-weight: normal;
}

html, body {
    margin: 0;
}





.container {
	display: grid;
	grid-gap: 55px 0px;
}

form.main-input {

	grid-template-columns: repeat(8, 1fr);
	grid-column:1;
	grid-row: 2;
	display: grid;
	grid-gap: 12px 0px;

}

i.burger-menu {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 1;
}

i.burger-menu:hover {
	font-weight: bold;
}

.main-head {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 9fr;

}

.main-head h1.brand {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 1;
}






/*
	site input styling.
*/

.website {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row:    2;
	width: 100%;
}

.website input {
	padding: 10px 6px;
	border: none;
	border-bottom: 1px solid var(--primary-colour);;
}

.website input::placeholder {
	color: var(--font-dark);
}
.website input:focus {
	outline:none;
	border: none;
	border-bottom: 2px solid var(--primary-colour);
}





/*
	password input styling.
*/

.password {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row:    3;
	width: 100%;
}

.password input {
	padding: 10px 6px;
	border: none;
	border-bottom: 1px solid var(--primary-colour);;
}

.password input::placeholder {
	color: var(--font-dark);
}

.password input:focus {
	outline:none;
	border: none;
	border-bottom: 2px solid var(--primary-colour);
}






/*
	Password button styles
*/

input.submit {
	margin-top:12px;
	width: 100%;
	padding: 6px;

	grid-column-start: 2;
	grid-column-end: 5;
	grid-row:    4;

	background: none;
	border: 1px solid var(--primary-colour);
	color: white;
}

input.submit:focus {
	border: none;
	outline: none;
}

input.submit {
	background: var(--primary-colour);
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

input.submit.active {
	background: var(--primary-colour-dark);
}

input.submit.completed {
	background: var(--primary-colour-dark);
}