
:root {

	--primary-colour: #01aabc;
	--primary-colour-light: #0097A7;
	--primary-colour-dark: #017582;



	--font-dark: gray;

	--button-ready: #4caf50;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/NotoSans.ttf);
}

@font-face {
    font-family: 'icomoon';
    src: url(../fonts/icomoon.ttf);
}

html {
	font-family: 'Noto Sans', sans-serif;
}

/*
	Navbar styling.
*/

.main-head {
	padding: 0px 16px;
	background: var(--primary-colour);
	color: white;
}


h1.brand {
	font-size: 1.3em;
	font-weight: normal;
}

html, body {
    margin: 0;
}





.container {
	display: grid;
}

main {
	display: grid;
	grid-template-columns:0.1fr 0.9fr;
}

aside {
	grid-column-start: 1;
	grid-column-end: 2;
/*
	grid-column: 1;
*/
	grid-row: 2;
}

aside li {
  list-style-type: none;
  margin: 0px;
  padding: 2px 0px;
  margin: 2px 0px
}

aside ul {
	padding: 0px;
	margin: 15%;
}

aside nav {
	margin: 0px;
}

form.main-input {
	padding-top: 55px;

	grid-template-columns: repeat(8, 1fr);
	grid-column:2;
	grid-row: 2;
	display: grid;
	grid-gap: 12px 0px;

}

i.burger-menu {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 1;
}

i.burger-menu:hover {
	font-weight: bold;
}

.main-head {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 9fr;

}

.main-head h1.brand {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 1;
}






/*
	site input styling.
*/

.website {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row:    2;
	width: 100%;
}

.website input {
	padding: 10px 6px;
	border: none;
	border-bottom: 1px solid var(--primary-colour);
	margin-bottom: 1px;

}

.website input::placeholder {
	color: var(--font-dark);
}
.website input:focus {
	outline:none;
	border: none;
	border-bottom: 2px solid var(--primary-colour);
	margin-bottom: 0px;
}





/*
	password input styling.
*/

.password {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row:    3;
	width: 100%;
}

.password input {
	padding: 10px 6px;
	border: none;
	border-bottom: 1px solid var(--primary-colour);
	margin-bottom: 1px;
}

.password input::placeholder {
	color: var(--font-dark);
}

.password input:focus {
	outline:none;
	border: none;
	border-bottom: 2px solid var(--primary-colour);
	margin-bottom: 0px;
}






/*
	Password button styles
*/

input.submit {
	margin-top:24px;
	width: 100%;
	max-width: 220px;
	min-width: 140px;
	padding: 0px 8px;
	height: 40px;

	grid-column-start: 2;
	grid-column-end: 5;
	grid-row:    4;

	background: none;
	border: 1px solid var(--primary-colour);
	color: white;
}

input.submit:focus {
	border: none;
	outline: none;
}

input.submit {
	background: var(--primary-colour);
}

input.submit.active {
	background: var(--primary-colour-dark);
}

input.submit.completed {
	background: var(--primary-colour-dark);
}






a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}
